{% extends "admin/base_site.html" %}

{% block content %}
<div class="container mt-5">
    <h2>DynamoDB Management</h2>
    {% if message %}
    <div class="alert alert-success mt-4">
        {{ message }}
    </div>
    {% endif %}
    {% if error_message %}
    <div class="alert alert-danger mt-4">
        {{ error_message }}
    </div>
    {% endif %}
    <div class="mt-4">
        {% if tables_created %}
        <div class="alert alert-info">
            Tables have already been created.
        </div>
        {% else %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Create Tables</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
