<!-- templates/footer.html -->

<footer class="bg-light text-center text-lg-start mt-auto mb-0">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        ZCOmmerce © 2024:
        <a class="text-dark" href="{% url 'home' %}">MySite.com</a>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a>About Us</a>
            </li>
            <li class="list-inline-item">
                <a>Contact</a>
            </li>
            <li class="list-inline-item">
                <a>Terms of Service</a>
            </li>
            <li class="list-inline-item">
                <a>Privacy Policy</a>
            </li>
        </ul>
    </div>
</footer>
